[submodule "content/hello-gophers"]
	path = content/hello-gophers
	url = git@github.com:CodersSquad/hello-gophers.git
[submodule "content/hello-c-world"]
	path = content/hello-c-world
	url = git@github.com:CodersSquad/hello-c-world.git
[submodule "content/programming-art"]
	path = content/programming-art
	url = git@github.com:CodersSquad/programming-art.git
[submodule "content/dc-slides"]
	path = content/dc-slides
	url = https://github.com/CodersSquad/dc-slides.git
